<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Show countries</title>
        <meta charset="UTF-8">
        </head>
    <body>

        <h2>List of countries</h2>
        
        <table>
            <tr>
                <th>Id</th>  
                <th>Name</th>  
                <th>Population</th>
            </tr>
                <tr>
                    <td><h4 th:text="${Country.Id}"></h4></td> 
                    <td><h4 th:text="${Country.name}"></h4></td> 
                    <td><h4 th:text="${Country.population}"></h4></td>
                </tr>
        </table>     
    </body>
</html>